//Переменные для геометрии элементов
$maxWidth: 1440;
$maxWidthContainer: 1180;

// Переменные для визуального отображения
$c-accent: #842231;
$c-orange: #DBA069;
$c-black: #333333;

// Глоабальные переменные
$g-fontSize: 18px;
$g-fontFamily: 'Fira Sans';
$g-color: $c-black;
