.carousel-works{

  &__item-wrapper{
    position: relative;
    display: flex;
    align-items: center;

    &::before{
      content: url(../img/works-dots.png);
      position: absolute;
      bottom: -30px;
      left: -50px;
      z-index: -1;

    }

    @media (max-width: 1199.98px){
      flex-direction: column;

      &::before{
        content: none;
        display: none;
      }
    }
  }

  &__schema{
    margin-left: 68px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1199.98px){
      margin: 20px 0 0;
    }
  }

  &__schema-title{
    font-size: 32px;
    margin-bottom: 10px;
  }

  &__button{
    background-color: $c-accent;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;

    @media (max-width: 575.98px){
      top: auto;
      bottom: 0;
      height: 30px;
      width: 30px;
      font-size: 15px;
    }

    &::after{
      content: none;
      display: none;
    }
  }
}